body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-image: linear-gradient(to right, #a834ff, #00acf0, #42fcff);
  font-family: "Poppins", sans-serif;
}

main{  
  padding: 0 0 16vh 0;
}

h1,
h2,
p,
a,
li,
label,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px rbg(255,255,255,.15) inset !important; 
        -webkit-text-fill-color: white !important;
        transition: background-color 5000s ease-in-out 0s;
    }